<!DOCTYPE html>
<html lang="en">
    <%- include('header') %>
    <body>
        <%- include('topnav', { active: 'home' }) %>
        <div class="horizontal-full-width-spacer"></div>
        <div class="container error-container">
            <h1 class="err-text">Oops! There was a problem.</h1>
            <p>Please contact the site admin.</p>
        </div>
    </body>
</html>