    <footer>
        <p>&copy; 2020. All rights reserved </p>
    </footer>
    <script src="jquery.min.js"></script>
    <script src="materialize.min.js"></script>
    <script src="Chart.bundle.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="init.js"></script>
    <script>
        $(document).ready(() => {
            $('.sidenav').sidenav();
            console.log('Sidenav init');
        });
    </script>
</body>