<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12180969-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-12180969-7');
</script>

    <% var baseLoc = '/home/zerocool/freelancer/pubginfo/'; %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBGStats.info</title>
    <% var assets = ['materialize.min.css', 'material-icon.css', 'style.css']; %>
    <% assets.forEach(function(asset){ %> 
        <link type="text/css" rel="stylesheet" href=<%= asset %>>
    <% }); %>
    <link rel="stylesheet" type="text/css" href="Chart.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baskervville|Noto+Sans+JP|Patrick+Hand|Aladin&display=swap" rel="stylesheet">

    <!-- FAVICONS -->
    <% var favs = [ { sizes: "57x57", href:"apple-icon-57x57.png", rel:"apple-touch-icon" }, 
       { sizes: "60x60", href:"apple-icon-60x60.png", rel:"apple-touch-icon" },  
       { sizes: "72x72", href:"apple-icon-72x72.png", rel:"apple-touch-icon" },
       { sizes: "76x76", href:"apple-icon-76x76.png", rel:"apple-touch-icon" },
       { sizes: "114x144", href:"apple-icon-114x114.png", rel:"apple-touch-icon"},
       { sizes: "120x120", href:"apple-icon-120x120.png", rel:"apple-touch-icon" },
       { sizes: "144x144", href:"apple-icon-144x144.png", rel:"apple-touch-icon" },
       { sizes: "180x180", href:"apple-icon-180x180.png", rel:"apple-touch-icon" },
       { sizes: "180x180", href:"apple-icon-180x180.png", rel:"apple-touch-icon" } ]; %>
    <% favs.forEach(function(fav){ %>
        <link rel=<%= fav.rel %> href=<%= fav.href %> sizes=<%= fav.sizes %>>
    <% }); %>
    <link rel="icon" type="image/png" sizes="192x192"  href="./../android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./../favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./../favicon-16x16.png">
    <link rel="manifest" href="./../manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
</head>
