<form onsubmit="return searchPlayer(event)">
    <div class="form-input">
        <input id="search-field" placeholder="Enter your playername">
        <button id="search-btn" role="submit" onclick="return searchPlayer(event)">
            <i class="material-icons" id="search-icon">search</i>
        </button>
    </div>
</form>